<!-- New User Form -->
<div class="jumbotron shadow">
    <form [formGroup]="newUserForm" (ngSubmit)="submitForm(newUserForm.value);">
        <fieldset>
            <legend><h4 class="mb-3">New User Information</h4></legend>
            <div class="row">
                <label class="col-sm-4 text-sm-right pt-2">Login</label>
                <div class="col-sm-6">
                    <input formControlName="login" class="form-control mb-3 shadow" placeholder="Login" type="text">
                    <div class="alert alert-danger" *ngIf="newUserForm.get('login').touched && newUserForm.get('login').hasError('required')">Login field is required</div>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-4 text-sm-right">Site Admin</label>
                <div class="col-sm-7">
                    <label class="form-check-label mb-3">
                        <input formControlName="site_admin" class="form-check-input" type="radio" [value]="true">True
                    </label>
                    <label class="form-check-label mb-3">
                        <input formControlName="site_admin" class="form-check-input" type="radio" [value]="false" checked="">False
                    </label>
                </div>
            </div>
        </fieldset>

        <!-- Button -->
        <div class="row">
            <span class="col text-center">
                <button class="btn btn-primary shadow" [disabled]="newUserForm.invalid">Add User</button>
            </span>
        </div>
    </form>
</div>