<div class="container-fluid">
    <!-- Header -->
    <div class="row">
        <div class="col-sm-4">
            <div class="col-sm-12 h1 text-center" style="padding: 30px">Prism Challenge</div>
        </div>
    </div>

    <!-- User List -->
    <div class="row">
        <app-list class="col-sm-4" *ngIf="userData.length > 0" [users]="userData" [(currentUser)]="selectedUser" (userSelectionEvent)="changeUserEvent($event);" style="padding-bottom: 30px"></app-list>
        <app-details class="col-sm-8" *ngIf="selectedUser" [user]="selectedUser"></app-details>
    </div>

    <!-- Add User -->
    <div class="row">
        <app-add-user class="col-sm-4 mx-auto" [users]="userData"></app-add-user>
    </div>

    <app-user-mgmt [users]="userData"></app-user-mgmt>
</div>
